body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 20px;
}
.card {
  padding: 16px;
  margin: 16px 0;
  display: grid;
  gap: 12px;
}
